<!DOCTYPE html>
<html lang="en">
  <head>
    <!--=============================================== 
    Template Design By WpFreeware Team.
    Author URI : http://www.wpfreeware.com/
    ====================================================-->

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Woodland Hills Dentist | Dr. Viken Toutounjian | Viken Toutounjian, D.D.S. | CA : Welcome</title>
    <meta name="description" content="Woodland Hills Dentist specializing in full dental care. Dr. Viken Toutounjian is a well-trained Woodland Hills Dentist specializing in Welcome.">
    <meta name="keywords" content="Woodland Hills Dentist,Woodland Hills Dentist, Dr. Viken Toutounjian, Woodland Hills, CA, Dr. Viken Toutounjian, Woodland Hills">
    <meta property="og:title" content="Woodland Hills Dentist |  Dr. Viken Toutounjian | Viken Toutounjian, D.D.S. | CA"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Woodland Hills Dentist specializing in full dental care. Dr. Viken Toutounjian is a well-trained Woodland Hills Dentist specializing in Welcome."/>
    <meta property="og:url" content="https://www.vikentoutounjiandds.com"/>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Recaptcha
    =============================================== -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!--Jquery by EO
    =============================================== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="images/faviconFB3.png"/>

    <!-- CSS
    ================================================== -->       
    <!-- Bootstrap css file-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome css file-->
    <link href="css/font-awesome.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
          
    <!-- Default Theme css file -->
    <link id="switcher" href="css/themes/lite-blue-theme.css" rel="stylesheet">   
    <!-- Slick slider css file -->
    <link href="css/slick.css" rel="stylesheet"> 
    <!-- Photo Swipe Image Gallery -->     
    <link rel='stylesheet prefetch' href='css/photoswipe.css'>
    <link rel='stylesheet prefetch' href='css/default-skin.css'>    

    <!-- Main structure css file -->
    <link href="style.css" rel="stylesheet">
    
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>  
    <link href='http://fonts.googleapis.com/css?family=Habibi' rel='stylesheet' type='text/css'>   
    <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative:900' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]--> 
  </head>
  <body>    
       <!-- BEGAIN PRELOADER -->
       <div id="preloader">
          <div id="status">&nbsp;</div>
        </div>
        <!-- END PRELOADER -->
    
        <!-- SCROLL TOP BUTTON -->
        <a class="scrollToTop" href="#"><i class="fa fa-tooth"></i></a>
        <!-- END SCROLL TOP BUTTON -->
    
        <!--=========== BEGIN HEADER SECTION ================-->
        <header id="header">
                   <!-- BEGIN MENU -->
    
          <div class="menu_area" >
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: rgb(16, 17, 17);">  
              <div class="container" >
                <div class="navbar-header">
                  <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <!-- LOGO -->              
                  <!-- TEXT BASED LOGO -->
                  <!-- <a class="navbar-brand"><span><font size="3">Viken Toutounjian, D.D.S.</a> -->
                  <a class="navbar-brand" href="/"><i class="fa fa-tooth"></i><span><font size="4">Viken Toutounjian, D.D.S.</font></span><h6>Cosmetic & General Dentistry</h6><h4>818.348.3801</h4></a>              
                  <!-- IMG BASED LOGO  -->
                  <!-- <a class="navbar-brand"><span><font size="2">818.348.3801</font></span></a> -->
                </div>
                <div id="navbar" class="navbar-collapse collapse"><font size="1">
                  <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/practice">Practice</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color: rgb(16, 17, 17);">About Us <span class="fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="/meet-the-dr">Meet the Doctor</a></li>
                          <li><a href="/meet-the-staff">Meet the Staff</a></li>
                        </ul>
                      </li>
                    <li class="dropdown active">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color: rgb(16, 17, 17);">Service <span class="fa fa-angle-down"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/dental-hygiene">Dental Hygiene</a></li>
                        <li><a href="/implants">Implant Restoration</a></li>
                        <li><a href="/cosmetic">Cosmetic</a></li>
                        <li><a href="/root-canal">Root Canal</a></li>
                        <li><a href="/restorative">Restorative</a></li>
                        <li><a href="/pediatric">Pediatric</a></li>
                        <li><a href="/periodontal-disease">Periodontal Disease</a></li>
                        <li><a href="/oral-surgery">Oral Surgery</a></li>
                        <li><a href="/preventive-devices">Preventive Devices</a></li>
                      </ul>
                    </li>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color: rgb(16, 17, 17);">Technology <span class="fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/intraoral-cam">Intraoral Camera</a></li>
                            <li><a href="/rotary-endo">Rotary Endodontics</a></li>
                            <li><a href="/oral-cancer-screen">Oral Cancer Screenings</a></li>
                            <li><a href="/digital-xray">Digital X-Ray</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color: rgb(16, 17, 17);">Patient Resources <span class="fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="/new-patient-forms">New Patient Forms</a></li>
                          <li><a href="/educational-videos">Educational Videos</a></li>
                          <li><a href="/q-and-a">Q and A</a></li>
                          <li><a href="/links">Links</a></li>
                          <li><a href="/post-op-instructions">Post-Op Instructions</a></li>
                          <li><a href="/surgical-instructions">Surgical Instructions</a></li>           
                        </ul>
                      </li>
                
                    <li><a href="/gallery">Gallery</a></li>               
                    <li><a href="/contact">Contact</a></li>
                    <li><button type="button" class="btn btn-info btn-lg"><a data-toggle="modal" data-target="#myModal" href="#" data-hover="Request Appointment"><span>Request Appointment</span></a></button></li>
                  </ul>           
                </div><!--/.nav-collapse --></font>
              </div>     
            </nav>  
          </div>
          <!-- END MENU --> 
        </header><br><br>
        <!--=========== END HEADER SECTION ================-->        
    <section id="blogArchive">      
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="blog-breadcrumbs-area">
            <div class="container">
              <div class="blog-breadcrumbs-left">
                <b>Our Services</b>
              </div>
              <div class="blog-breadcrumbs-right">
                <!-- <ol class="breadcrumb">
                  <li>You are here</li>
                  <li><a href="#">Home</a></li>                  
                  <li class="active">Features</li>
                </ol> -->
              </div>
            </div>
          </div>
        </div>        
      </div>      
    </section>
      <!-- start modal window -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Appointment Details</h4>
          </div>
          <div class="modal-body">
            <div class="appointment-area">
              <form class="appointment-form" method="POST" action="send">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <label class="control-label">Your name <span class="required">*</span>
                    </label>
                    <input type="text" name= "name" class="wp-form-control wpcf7-text" placeholder="Your name" required>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <label class="control-label">Your Email <span class="required">*</span>
                    </label>
                    <input type="mail" name= "email" class="wp-form-control wpcf7-email" placeholder="Email address" required>  
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <label class="control-label">Your Phone <span class="required">*</span>
                    </label>
                    <input type="text" name= "phone" class="wp-form-control wpcf7-text" placeholder="Phone No" required>  
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <label class="control-label">Appointment Date <span class="required">*</span>
                    </label>
                    <input type="date" name= "AptDate" class="wp-form-control wpcf7-text" placeholder="mm/dd/yyyy" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <label class="control-label">Time <span class="required">*</span>
                    </label>
                    <input type="time" name= "time" class="wp-form-control wpcf7-text" placeholder="hh:mm" required>
                  </div>
                  <!-- <div class="col-md-6 col-sm-6">
                    <label class="control-label">Select Department <span class="required">*</span>
                    </label>
                    <select class="wp-form-control wpcf7-select">
                      <option val="1">Dental</option>
                      <option val="2">cardiology</option>
                      <option val="3">neurology</option>
                      <option val="4">Drugstore</option>
                      <option val="5">x-ray</option>
                      <option val="6">birth</option>
                      <option val="7">general</option>
                      <option val="8">testing</option>
                      <option val="9">first-aid</option>
                      <option val="10">immunizations</option><option val="11">pulmonary</option>
                    </select> 
                  </div> -->
                </div>         
                {{!-- <input type="text" class="wp-form-control wpcf7-text" placeholder="Subject"> --}}
                  
                <!--recaptcha for Development -->
                <textarea name= "msg" class="wp-form-control wpcf7-textarea" cols="30" rows="10" placeholder="What would you like to tell us"></textarea>
                  <div style="display:inline-block;" class="g-recaptcha" data-sitekey="6LdHmpYUAAAAAHphPY3cukAhJuKqJYFC_c7-zJhx" data-callback="recaptcha_callback" data-theme="dark"></div><br>
                  <button id="contact-btn" class="wpcf7-submit button--itzel" type="submit"><i class="button__icon fa fa-share"></i><span>Submit</span></button>  
              </form>
            </div>
          </div>                    
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!--End of /.modal -->

        <!--=========== BEGAIN Why Choose Us SECTION ================-->
    <section id="whychooseSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="service-area">
                <!-- Start Service Title -->
                <div class="section-heading">
                  <h2>Restorative</h2>
                  <div class="line"></div>
                </div>              
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                  <div class="whyChoose-left">
                    <div class="whychoose-slider">
                      <div class="whychoose-singleslide">
                        <img src="images/crowns.jpg" alt="img">
                      </div>
                      <div class="whychoose-singleslide">
                        <img src="images/dentures.jpg" alt="img">
                      </div>
                      <div class="whychoose-singleslide">
                        <img src="images/whitening.jpg" alt="img">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="how-works-area">
                      <div class="how-works">
                         <ul class="nav nav-tabs" id="myTab">
                           <li class="active"><a href="#experiment" data-toggle="tab">Bridges</a></li>
                           <li><a href="#monitor" data-toggle="tab">Crowns</a></li>
                           <li><a href="#clean" data-toggle="tab">Dentures</a></li>
                           <!-- <li><a href="#fast" data-toggle="tab">Fast</a></li>
                           <li><a href="#support" data-toggle="tab">Support</a></li> -->
                         </ul>
                         <!-- Tab panes -->
                         <div class="tab-content">
                           <div class="tab-pane fade in active" id="experiment">
                             <p>Dental bridges are a great way to replace missing teeth. Your existing teeth are used to literally create a bridge to cross the area where your tooth is missing. 
                                Bridges are made from gold, metal, alloys, or porcelain to ensure that they are strong and durable. 
                                The process of creating a bridge begins by creating abutments out of your existing teeth where the bridge will be attached. 
                                The existing teeth are recontoured to provide a base for the bridge. After the abutments have been created, a mold is taken of the area which is sent to a dental lab. 
                                The lab is able to use the mold to create a bridge that will fit properly and feel as close to your natural teeth as possible. 
                                The bridge consists of two crowns on either end to place on the abutments and a pontic, which is the new tooth that replaces your missing tooth. 
                              </p>
                              <p>
                                We will fit you with a temporary bridge while we wait for the lab to craft your permanent bridge. This will protect the abutments and the exposed gum areas and look more 
                                appealing than having a missing tooth. When the permanent bridge has been created, you will have a follow up visit to set the bridge. It will be placed on the abutments and 
                                the dentist will then use an adhesive to make sure that the bridge is set
                              </p>
                              <p>
                                The bridge may take a little while to get used to, but after a few days it should feel like you have your own teeth back again. You should eat soft foods for the first few days 
                                after having your bridge placed. After the initial phase, you will be able to eat whatever you want with no issues. 
                              </p>
                              <p>
                                If you are missing a tooth you should strongly consider having it replaced. Besides the aesthetic disadvantage of missing a tooth, it could also cause structural changes to 
                                your mouth and jaw, as well as making it difficult to eat or speak properly. Set up an appointment today to restore your smile.
                              </p>
                           </div>
                           <div class="tab-pane fade " id="monitor">
                             <p>Over time our teeth begin to weaken and become more susceptible to problems such as decay, cracks, discoloration and others. If you feel your smile isn’t what it once was, 
                               crowns can help you recover your smile. If your dentist notices that a tooth is decayed or seems weakened/cracked a crown may be necessary to make sure that there are no additional 
                               problems with the tooth. In cases like this a filling or bonding will not be sufficient.
                              </p>
                             <p>
                                Crowns can be made from porcelain, porcelain fused to metal, or a full gold crown. To maintain a natural look and feel a porcelain finished crown is best, as it can be matched to 
                                the shade of your other teeth. This will allow it to blend in and appear just like one of your natural teeth.
                             </p>
                             <p>
                                The process of installing a crown takes 2-3 visits to the dentist. On the first visit the tooth will be reshaped by filing down the enamel so that the crown can be placed over it. 
                                You will be given a local anesthetic before this part of the procedure so that you do not experience any discomfort. Once the tooth has been reshaped, a mold will be taken of that 
                                tooth and the surrounding teeth. This mold will be sent to a dental lab so that your new crown can be made so that it fits in the spot created for it and looks the same relative to 
                                the surrounding teeth. Before leaving, your dentist will fit you with a temporary crown until your permanent crown is ready. 
                             </p>
                             <p>
                                The crown takes about 2-3 weeks to be returned to your dentist. At this time you will have another appointment to place and fit the permanent crown. You will again have a 
                                local anesthetic to numb the area and the tooth will be placed using a cement to ensure the tooth sets in place. When you look in the mirror, you will see your old smile back. 
                                Crowns are durable and will usually last about 10-15 years. You should care for it as you would any of your other teeth with regular brushing and flossing. Call us today if you 
                                would like to learn more about how crowns can help restore your smile.
                             </p>
                           </div>
                           <div class="tab-pane fade " id="clean">
                             <p>Dentures are a replacement for missing teeth that can be removed and put back into your mouth as you please. Depending on each individual patient case, they may receive full or 
                               partial dentures. Full dentures are used when all of the natural teeth are removed from the mouth and replaced with a full set of dentures. There are two types of full dentures.
                              </p>
                              <ol>
                                <li>Conventional Full Dentures - This is when all the teeth are removed and the tissue is given time to heal before the dentures are placed. It could take a few months for 
                                  the gum tissue to heal completely, and during this time you will be without teeth.
                                </li>
                                <li>Immediate Full Dentures - Prior to having your teeth removed, your dentist takes measurements and has dentures fitted for your mouth. After removing the teeth, the 
                                  dentures are immediately placed in your mouth. The benefit is that you do not have to spend any time without teeth. You will, however, need to have a follow up visit to 
                                  refit your dentures because the jaw bone will slightly change shape as your mouth heels. The dentures will need to be tightened after the jaw bone has healed.
                                </li>
                              </ol>
                              <p>
                                  Partial dentures are another option when not all of your teeth need to be removed. This is similar to a bridge, but it is not a permanent fixture in your mouth.
                              </p>
                              <p>
                                Your dentures may take some time to get used to. The flesh colored base of the dentures is placed over your gums. Some people say that it feels bulky or that they don't have
                                enough room for their tongue. Other times the dentures might feel loose. These feelings will affect the way you eat and talk for a little while. Over time, your mouth becomes
                                trained to eat and speak with your dentures and they begin to feel more and more like your natural teeth. They may never feel perfectly comfortable, 
                                but it is much better than the alternative of not having teeth.
                              </p>
                              <p>Even though dentures are not real teeth, you should care for them like they are. You should brush them to remove plaque and food particles before removing your dentures. 
                                  After they have been removed you should place them directly into room temperature water or a denture cleaning solution. Never use hot water because it could warp the dentures.
                                  Your dentures are delicate, so make sure you are careful when handling them so you don't drop them. Also, never try to adjust your dentures yourself. You could ruin them, 
                                  so you should always seek assistance from your dentist if they feel uncomfortable or loose.
                                </p>
                           </div>
                           <!-- <div class="tab-pane fade " id="fast">
                             <p>Even though dentures are not real teeth, you should care for them like they are. You should brush them to remove plaque and food particles before removing your dentures. 
                              </p>
                           </div>
                           <div class="tab-pane fade " id="support">
                             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>                     
                           </div> -->
                         </div>
                       </div>
                    </div>
                  </div>
                </div>         
               </div>
    </section>
      <!--=========== END Why Choose Us SECTION ================-->

    <!--=========== BEGAIN Counter SECTION ================-->
    <section id="counterSection">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="counter-area">
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="counter-box">
                    <div class="counter-no counter">
                      25
                    </div>
                    <div class="counter-label">Years Experience</div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                   <div class="counter-box">
                    <div class="counter-no counter">
                      3
                    </div>
                    <div class="counter-label">Clinic Rooms</div>
                  </div>
                </div>
                <!-- <div class="col-lg-3 col-md-3 col-sm-6">
                   <div class="counter-box">
                    <div class="counter-no counter">
                      50
                    </div>
                    <div class="counter-label">Awards</div>
                  </div>
                </div> -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                   <div class="counter-box">
                    <div class="counter-no counter">
                      500
                    </div>
                    <div class="counter-label">Happy Patients</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=========== End Counter SECTION ================-->
     <!--=========== Start Footer SECTION ================-->
     <footer id="footer">
        <!-- Start Footer Top -->
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <!-- <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single-footer-widget">
                  <div class="section-heading">
                  <h2>About Us</h2>
                  <div class="line"></div>
                </div>           
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
              </div> -->
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                  <div class="section-heading">
                  <h2>Hours of Operation</h2>
                  <div class="line"></div>
                </div>
                <ul class="footer-service">
                  <li><a href="#"><span class="fa fa-check"></span>Monday - 8:45am to 5:45pm</a></li>
                  <li><a href="#"><span class="fa fa-check"></span>Tuesday - 8:45am to 5:45pm</a></li>
                  <li><a href="#"><span class="fa fa-check"></span>Wednesday - Closed</a></li>
                  <li><a href="#"><span class="fa fa-check"></span>Thursday - 8:45am to 5:45pm</a></li>
                  <li><a href="#"><span class="fa fa-check"></span>Friday - 8:45am to 5:45pm</a></li>
                  <li><a href="#"><span class="fa fa-check"></span>Saturday - 9:00am to 1:00pm (every other Saturday)</a></li>
                  <li><a href="#"><span class="fa fa-check"></span>Sunday - Closed</a></li>
                </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single-footer-widget">
                  <div class="section-heading">
                  <h2>Connect With Us</h2>
                  <div class="line"></div>
                </div>
                  <ul class="tag-nav">
                    <li><a href="https://www.facebook.com/Viken-Toutounjian-DDS-283874211626359/" target="_blank">Facebook <span class="fab fa-facebook fa-2x" style="color:rgb(61, 103, 182)"></span></a></li>
                    <!-- <li><a href="#" target="_blank">twitter <span class="fab fa-twitter fa-2x" style="color:rgb(12, 216, 243)"></span></a></li> -->
                    <li><a href="https://www.google.com/search?ei=jYHLW72KIKva0gLTxojgBw&q=Toutounjian+Viken+DDS&oq=Toutounjian+Viken+DDS&gs_l=psy-ab.3..35i39j38.4288.5489..5864...0.0..0.94.252.3......0....1..gws-wiz.YqRBU0EhSQk" target="_blank">google-plus <span class="fab fa-google-plus fa-2x" style="color:rgb(182, 61, 61)"></span></a></li>
                    <li><a href="https://www.linkedin.com/company/viken-toutounjian-dds/" target="_blank">linkedin <span class="fab fa-linkedin fa-2x" style="color:rgb(4, 8, 54)"></span></a></li>
                    <li><a href= "https://www.yelp.com/biz/viken-toutounjian-dds-woodland-hills" target="_blank">Yelp............. <span class="fab fa-yelp fa-2x" style="color:rgb(182, 61, 61)"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single-footer-widget">
                  <div class="section-heading">
                  <h2>Contact Info</h2>
                  <div class="line"></div>
                </div>
                <!-- <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p> -->
                <address class="contact-info">
                  <p><span class="fa fa-home"></span>6325 Topanga Canyon Blvd Suite 204<br>
                  Woodland Hills, CA 91367, USA</p>
                  <p><span class="fa fa-phone"></span>818.348.3801</p>
                  <!-- <p><span class="fa fa-envelope"></span>info@wpfmedinova.com</p> -->
                </address>
                </div>
              </div>
            </div>
          </div>
        </div>
  <!--=========== End Footer SECTION ================-->

    <!-- jQuery Library  -->
    <script src="js/jquery.js"></script>    
    <!-- Bootstrap default js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="js/slick.min.js"></script>    
    <script type="text/javascript" src="js/modernizr.custom.79639.js"></script>    
    <!-- counter -->
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Doctors hover effect -->
    <script src="js/snap.svg-min.js"></script>
    <script src="js/hovers.js"></script>
    
    <!-- Custom JS -->
    <script src="js/custom.js"></script>

    <!-- EO JS -->
    <script src="js/EO_script.js"></script>
     
  </body>
</html>